ASSIGNMENT - 1

Name: Paresh Arjun Sadekar

Q1.. Explain the 3 differences between List and tuples.

Ans. LIST-
1-Mutable – we can change, add, or remove elements after creation.
2-Uses square brackets []
3-  Slower than tuples in terms of iteration and memory usage.

Tuple-
1-Immutable – once created, it cannot be changed.
2-Uses parentheses ()
3-Faster and uses slightly less memory, because of its immutability and fixed size.

 Q2..You’re a Data Scientist. You have assigned a task to perform. Create two lists l1 & l2, where l1 has values -> (1,2,3,4,5,6) and l2 has values -> (6,5,4,3,2,1). Compare the corresponding element values of both the lists and print “L1 element value is greater than L2 element value” if corresponding value from l1 is greater else print “L1 element value is less than L2 element value” if corresponding value from l1 is less than l2.

In [24]:
l1=[1,2,3,4,5,6]
l2=[6,5,4,3,2,1]

for i in range(len(l1)):
    if l1[i] >l2[i]:
        print(f"L1 element value ({l1[i]}) is greater than L2 element value ({l2[i]})")
    else:
        print(f"L1 element value ({l1[i]}) is less than L2 element value ({l2[i]})")

L1 element value (1) is less than L2 element value (6)
L1 element value (2) is less than L2 element value (5)
L1 element value (3) is less than L2 element value (4)
L1 element value (4) is greater than L2 element value (3)
L1 element value (5) is greater than L2 element value (2)
L1 element value (6) is greater than L2 element value (1)

Q3.. Write a Python user defined function that takes a list of numbers from user and returns a dictionary with the number as the key and its square as the value.

In [72]:
def get_squares_dict():
    numbers = input("Enter a list of numbers: ")
    num_list = [int(num) for num in numbers.split()]
    squares_dict = {num: num**2 for num in num_list}

    return squares_dict
result = get_squares_dict()
print("Number and their squares:", result)

Enter a list of numbers:  1 2 3 4 5

Number and their squares: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Q4. You work in a Company as a Analyst. The company officials want you to build a python based Calculator. Write code to create a user defined function named Calculator. 
● User will pass 3 parameters in Calculator function int1, int2, task 
● The task string will be ‘add’, ‘sub’, ‘mul’, ‘div’. Perform Addition, Subtraction, Multiplication and Division on the two numbers(int1, int2) respectively. Make sure the task parameter is case insensitive (meaning that even if user passes ‘aDd’ as command it should perform addition on two numbers)
● Define methods for addition, subtraction, multiplication and division in Calculator function that take in two numbers and return another number after performing their respective operations. Eg: Calculator(2,5,ADD) should return 7 Calculator(7,1,SuB) should return 6

In [97]:
def Calculator(int1, int2, task):
     def add(a, b):
        return a + b
     def sub(a, b):
        return a - b

     def mul(a, b):
        return a * b

     def div(a, b):
        if b == 0:
             return "Error: Division by zero"
        return a / b
     task = task.lower()
     if task == 'add':
        return add(int1, int2)
     elif task == 'sub':
        return sub(int1, int2)
     elif task == 'mul':
        return mul(int1, int2)
     elif task == 'div':
        return div(int1, int2)
     else:
        return "Invalid operation. Use 'add', 'sub', 'mul', or 'div'."

print(Calculator(2, 5, 'ADD'))
print(Calculator(7, 1, 'SuB'))
print(Calculator(3, 4, 'MuL'))
print(Calculator(10, 2, 'DIV'))
print(Calculator(10, 0, 'div'))

7
6
12
5.0
Error: Division by zero

Q5. Write a Function to check if the year number is a leap year or not. Print all Leap Years of 21st Century.

In [103]:
def is_leap_year(year):
    return (year % 5 == 0)
print("Leap Years in the 21st Century (2001–2100):")
for y in range(2001, 2101):
    if is_leap_year(y):
        print(y)

Leap Years in the 21st Century (2001–2100):
2005
2010
2015
2020
2025
2030
2035
2040
2045
2050
2055
2060
2065
2070
2075
2080
2085
2090
2095
2100

 Q6. Write a python code to print the following pattern. 
1
 1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [105]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Q7. Write a Python program to convert key-values list to flat dictionary? 
Eg: 
I/P -- [("name","Virat"), ("surname","Kohli"), ("yob",1986)] 
O/P -- {'name': 'Virat', 'surname': 'Kohli', 'yob': 1986}

In [107]:
key_value_list = [("name", "Sachin"), ("surname", "Tendulkar"), ("yob", 1986)]
flat_dict = dict(key_value_list)
print(flat_dict)

{'name': 'Sachin', 'surname': 'Tendulkar', 'yob': 1986}

Q8. Write a Function to take a list and return 2 lists:- 1st list should contain all even indexed numbers.- 2nd list should contain all odd indexed numbers.

In [111]:
def even_odd_indices(input_list):
    even_indexed = input_list[::2]  
    odd_indexed = input_list[1::2] 
    return even_indexed, odd_indexed
my_list =[10, 20, 30, 40, 50, 60]
even_list, odd_list =even_odd_indices(my_list)

print("Even indexed elements:", even_list)
print("Odd indexed elements:", odd_list)

Even indexed elements: [10, 30, 50]
Odd indexed elements: [20, 40, 60]

Q9. Create a Login System Take a username and password as input, and validate using a stored dictionary of users.

In [9]:
users = {
    "admin": "admin123",
    "john": "johnpass",
    "ali": "alip"
}
def login_system():
    username = input("Enter username: ")
    password = input("Enter password: ")
    if username in users and users[username] == password:
        print("Login successful!")
    else:
        print("Invalid username or password.")

login_system()

Enter username:  ali
Enter password:  alip

Login successful!